.legacyButton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 48px;
  width: 48px;
  filter: grayscale(100%);
  opacity: 0.9;
  float: left;
  padding: 15px;
  
  svg {
    height: 18px;
    width: 18px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--button-size-default, 30px);
  width: var(--button-size-default, 30px);
  color: var(--bttv-rs-text-primary);
  cursor: pointer;
  svg {
    height: 16px;
    width: 16px;
  }
}
