.searchPrefix {
  background-color: var(--bttv-rs-input-bg) !important;
  margin-right: -12px;
}

.reloading svg {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
